In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
# Load Iris dataset
X, y = datasets.load_iris(return_X_y=True, as_frame=True)

In [4]:
def get_onehot(y):
    
    n_classes = len(np.unique(y))
    n_samples = len(y)
    
    y_onehot = np.zeros([n_samples, n_classes])
    for i, val in enumerate(y):
        y_onehot[i, val] = 1
        
    return y_onehot

In [5]:
y_onehot = get_onehot(y)
y_onehot

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

Concept

In [20]:
n_sample = X.shape[0]
n_feature = X.shape[1]

w = np.random.uniform(0, 0.1, [n_feature, 3])
b = 0.5


def net_input(X, w, b):
    net_input = X.dot(w.T) + b
    return net_input


def activation(z):
    # in y_predict_onehot = [3, 1.5,.5]
    # softmax(y_predict_onehot) = [.60, .30, .10]
    e_z = np.exp(z - np.max(z))
    return e_z / e_z.sum()


def cost(y_target, y_predict):
    cost = y_target * np.log(y_predict)
    return cost


def gradient(X, y, y_pred, learning_rate):
    
    error = y_pred - y
    
    # grad_w = error.T.dot(np.array(X)) / X.shape[0]
    grad_w = learning_rate * np.average((error * X.T).T, axis=0)
    # grad_b = error.sum() / X.shape[0]
    grad_b = learning_rate * np.average(error, axis=0)
    
    return grad_w, grad_b

In [22]:
z = net_input(X, w.T, b)

In [23]:
a = activation(z)

In [24]:
a

            0         1         2
0    0.005588  0.006001  0.006371
1    0.005383  0.005689  0.006082
2    0.005386  0.005738  0.006175
3    0.005415  0.005708  0.006117
4    0.005610  0.006038  0.006421
..        ...       ...       ...
145  0.007504  0.007389  0.007231
146  0.007074  0.006828  0.006698
147  0.007455  0.007277  0.007069
148  0.007713  0.007604  0.007455
149  0.007280  0.007069  0.006926

[150 rows x 3 columns]

In [25]:
cost(y_onehot, a)

            0    1         2
0   -5.187101 -0.0 -0.000000
1   -5.224536 -0.0 -0.000000
2   -5.224029 -0.0 -0.000000
3   -5.218546 -0.0 -0.000000
4   -5.183218 -0.0 -0.000000
..        ...  ...       ...
145 -0.000000 -0.0 -4.929385
146 -0.000000 -0.0 -5.005931
147 -0.000000 -0.0 -4.952024
148 -0.000000 -0.0 -4.898882
149 -0.000000 -0.0 -4.972533

[150 rows x 3 columns]